$primary-color: #f1356d;
$secondary-color: #495057;
$text-color: #e9ecef;
$mobile: 30em;
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #333;
}
html {
  font-size: 62.5%;
  @include mobile {
    font-size: 40%;
  }
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@function set-test-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return white;
  }
}
