@import "config";
body {
  // background-color: $secondary-color;
  // height: 100vh;

  font-size: 2rem;
  // font-family: "Rubik", sans-serif;
  color: $text-color;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  position: relative;
  margin: 20rem auto;
  max-width: 60rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 3rem;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-bottom: 1.2rem;
    &__input {
      padding: 1.6rem;
      max-height: 2.4rem;
      font-size: 2.4rem;
    }
    &__submit {
      @extend .todo__form__input;
      border: none;
      background-color: $secondary-color;
      color: rgb(202, 202, 202);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  &__header {
    .fa {
      &-solid {
        cursor: pointer;
        background-color: white;
        max-height: 2.4rem;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.6rem;
        color: $secondary-color;

        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  .btn {
    cursor: pointer;
    background-color: white;
    max-height: 2.4rem;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 3.2rem;
    &--refresh {
      padding: 2rem 4rem;
    }
    &--nav {
      border: 1px solid $secondary-color;
    }
    &:hover {
      border: 1px dotted rgb(122, 122, 122);
    }
  }
}
.todo-list-body {
  padding: 3.6rem 0;
  &__list {
    li {
      display: flex;
      list-style: none;
      justify-content: space-between;
      margin-bottom: 2rem;
      color: $primary-color;
      .fa-circle {
        color: $primary-color;
        cursor: pointer;
      }
      .fa-circle-check {
        cursor: pointer;
        color: green;
      }
      .fa-trash-can {
        color: $primary-color;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
      .stroke {
        text-decoration: line-through !important;
        color: $secondary-color !important;
      }
    }
  }
}
// .navbar {
//   padding: 2rem;
//   display: flex;
//   align-items: center;
//   max-width: 600px;
//   margin: 0 auto;
//   border-bottom: 1px solid #f2f2f2;
//   h1 {
//     color: #f1356d;
//   }
//   .links {
//     margin-left: auto;
//   }
//   a {
//     margin-left: 16px;
//     text-decoration: none;
//     padding: 6px;
//     &:hover {
//       color: #f1356d;
//     }
//   }
// }
// .content {
//   max-width: 600px;
//   margin: 40px auto;
//   padding: 20px;
// }
// .blog-preview {
//   padding: 10px 16px;
//   margin: 20px 0;
//   border-bottom: 1px solid #fafafa;
//   display: flex;
//   &:hover {
//     box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
//   }
//   h2 {
//     font-size: 20px;
//     color: #f1356d;
//     margin-bottom: 8px;
//   }
//   a {
//     text-decoration: none;
//   }
//   button {
//     margin-left: auto;
//     background: #f1356d;
//     color: #fff;
//     border: 0;
//     height: 4rem;
//     padding: 0rem 0.8rem;
//     border-radius: 8px;
//     cursor: pointer;
//   }
// }
// .blog-details {
//   h2 {
//     font-size: 2rem;
//     color: #f1356d;
//     margin-bottom: 1rem;
//   }
//   div {
//     margin: 2rem 0;
//     color: #747474;
//   }
//   em {
//     font-size: 1.6rem;
//   }
//   button {
//     background: #f1356d;
//     color: #fff;
//     border: 0;
//     padding: 0.8rem;
//     border-radius: 0.8rem;
//     cursor: pointer;
//   }
// }
// .create {
//   max-width: 400px;
//   margin: 0 auto;
//   text-align: center;
//   label {
//     text-align: left;
//     display: block;
//   }
//   h2 {
//     font-size: 20px;
//     color: #f1356d;
//     margin-bottom: 30px;
//   }
//   select,
//   input,
//   textarea {
//     width: 100%;
//     padding: 6px 10px;
//     margin: 10px 0;
//     border: 1px solid #ddd;
//     box-sizing: border-box;
//     display: block;
//   }
//   button {
//     background: #f1356d;
//     color: #fff;
//     border: 0;
//     padding: 8px;
//     border-radius: 8px;
//     cursor: pointer;
//   }
// }
// .not-found {
//   h1 {
//     font-size: 6rem;
//     text-align: center;
//     color: #f1356d;
//   }
//   p {
//     color: #747474;
//     font-size: 2rem;
//   }
//   .link {
//     margin-left: auto;
//     font-size: 1.6rem;
//     color: #f1356d;
//     text-decoration: none;
//     &:hover {
//       color: #747474;
//     }
//   }
// }
/* blog previews / list */

// .check-city,
// .btn {
//   cursor: pointer;
//   border: none;
//   padding: 1.2rem 2.4rem;
//   border-radius: 9px;
//   font-family: "Rubik", sans-serif;
//   font-weight: 400;
//   font-size: 2rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: $primary-color solid 1px;
//   background-color: #fff;
//   &-del {
//     color: gray;
//     padding: 1rem 1rem;
//     border-radius: 200px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     transform: translate(50%, -50%);
//   }
//   &:hover,
//   &:focus,
//   &:active {
//     background-color: $primary-color;
//     color: $secondary-color;
//     border: $secondary-color solid 1px;
//   }
// }
// .refresh {
//   position: absolute;
// }
// .weather {
//   &__heading {
//     display: flex;
//     justify-content: center;
//     color: $primary-color;
//     margin: 4rem auto;
//   }
//   &__input {
//     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
//       rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
//     background-color: $primary-color;
//     max-width: 100rem;
//     margin: 0 auto;
//     padding: 2rem;
//     display: grid;
//     grid-template-rows: 1fr 0.5fr;
//     gap: 2rem;
//     border-radius: 9px;
//     margin-bottom: 7rem;
//     &__salutation {
//       font-size: 5rem;
//       justify-self: center;
//     }
//     &__input {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 4rem;
//     }
//   }
//   &__result {
//     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
//       rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

//     max-width: 100rem;
//     margin: 0 auto;
//     padding: 2rem;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     @include mobile {
//       grid-template-columns: 1fr 1fr;
//     }
//     gap: 2rem;
//     border-radius: 9px;
//     box-shadow: none;
//     background-color: #fff;
//     justify-content: center;
//   }
// }
// .input {
//   padding: 1.2rem 2.4rem;
//   font-size: 2rem;
//   border-radius: 9px;
//   border: none;
//   font-family: "Rubik", sans-serif;
//   font-weight: 500;
// }
// .container {
//   width: 100vw;
// }

// .city {
//   justify-self: stretch;
//   border-radius: 9px;
//   padding: 1.5rem 3rem;
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   gap: 2rem;
//   background-color: $primary-color;
//   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
//     rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
//   // margin: 0 auto;
//   &__country {
//     font-size: 1.6rem;
//     margin-left: 0.7rem;
//     background-color: #ffd43b;
//     padding: 0.2rem 0.6rem;
//     border-radius: 200px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   &__name {
//     font-size: 3.2rem;
//     display: flex;
//     align-items: flex-start;
//   }
//   &__temp {
//     display: flex;
//     align-items: flex-start;
//     gap: 0.1rem;
//     &__num {
//       font-size: 5rem;
//     }
//   }
//   &__weather {
//     &__symbol {
//       font-size: 4rem;
//       width: fit-content;
//     }
//     &__msg {
//     }
//   }
// }

// .btn {
//   cursor: pointer;
//   border: none;
//   width: 4rem;
//   height: 4rem;
//   border-radius: 50%;
//   font-family: "Rubik", sans-serif;
//   font-weight: 400;
//   font-size: 1.6rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   &-num-zero {
//     grid-column: 2 / span 2;
//     width: 100%;
//     border-radius: 20rem;
//   }
//   &-equal {
//     grid-row: 6/8;
//     grid-column: -1 /-2;
//     height: 100%;
//     border-radius: 20rem;
//   }
//   &:hover,
//   &:focus,
//   &:active {
//     background-color: $primary-color;
//     color: $secondary-color;
//     border: $secondary-color solid 1px;
//   }
// }

// .input {
//   padding: 0.8rem;
//   font-size: 1.6rem;

//   grid-column: 1/-1;
//   grid-row: 1/3;
//   height: 4rem;
//   font-family: "Rubik", sans-serif;
//   font-weight: 500;
//   margin-bottom: 1rem;
// }
